version: "3.9"

services:
  traffic-mysql:
    image: mysql:8.0.34
    container_name: traffic-mysql
    environment:
      MYSQL_DATABASE: traffic
      MYSQL_USER: $MYSQL_USER
      MYSQL_PASSWORD: $MYSQL_PASSWORD
      MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
    ports:
      - "3306:3306"
    networks:
      - traffic-network

  traffic-api:
    image: traffic-api
    command:
      [
        "/wait-for-it.sh",
        "traffic-mysql:3306",
        "-t",
        "60",
        "--",
        "java",
        "-jar",
        "/app/traffic-api.jar",
      ]
    container_name: traffic-api
    ports:
      - "8081:8080"
    environment:
      DB_HOST: traffic-mysql
    networks:
      - traffic-network
    depends_on:
      - traffic-mysql

  traffic-integration-test:
    image: cypress/browsers:node-18.16.1-chrome-114.0.5735.133-1-ff-114.0.2-edge-114.0.1823.51-1
    container_name: traffic-integration-test
    command:
      [
        "/bin/sh",
        "-c",
        "./wait-for-it.sh traffic-api:8080 -t 60 && npm install && npx cypress install && npm test",
      ]
    environment:
      HOST_API: traffic-api
      HOST_PORT_API: 8080
    volumes:
      - $PWD:$PWD
    working_dir: $PWD
    networks:
      - traffic-network
    depends_on:
      - traffic-api

networks:
  traffic-network:
    driver: bridge
